body {
    margin:0;
    min-width: none;
   
}


.nav {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 97px;
    position: fixed;
    z-index: 99;
}

.nav a {
    display: inline-block;
    margin-top: 24px;
    margin-left: 48px;
    text-decoration: none;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: #202020;

    font-size: 36px;
    font-family: 'inter' , 'sans-serif';
    font-weight: 800;
    color: #202020;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

form {
    position: absolute;
    width: 458px;
    height: 589px;
    top: 56.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffff; 
    padding:  0px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #D9D9D9; 
    text-align: center;
}

form h1{
    margin-top: 30px;
    font-size: 30px;
    font-family: 'mukta' , 'sans-serif';
    font-weight: 1000;
}

form p {
    margin-top: 0px;
    font-family: 'mukta' , 'sans-serif';
}

form p a {
    text-decoration: none;
    color: #3083FF ;
}


form .login .input-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

form .login input {
    width: 318px; 
    height: 42px;
    border-radius: 10px;
    margin-top: 10px;
    box-sizing: border-box;
    background-color: #E5E5E5;
    border: 2px solid transparent; 
    outline: none;
    padding-left: 35px;
}

form .login #fgrtpass {
    margin-top: 5px;
    font-size: 12px;
    margin-right: 80px;
    color: #383838;
   
}



form .login #btnlgn {
    margin-top: 5px;
    width: 174px;
    height: 42px;
    border-radius: 20px;
    color:white;
    font-size: 16px;
    background-color: #383838;
    border: 2px solid transparent; 
    cursor: pointer; 
}

form .login #btnlgn:hover {
    color: #3083FF
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 20px; 
    margin-bottom: 20px; 
}

.separator .line {
    flex-grow: 1;
    height: 1px;
    background-color: #D9D9D9; 
}

.separator .text {
    margin: 5px 15px; 
    color: #363636; 
    font-family: 'mukta' , 'sans-serif';
}

#gglbtn {
margin-left: 75px;
}
.gglbtn {
    display: flex;
    
    align-items: center;
    justify-content: center;
    width: 318px; 
    height: 43px; 
    background-color: #fff; 
    border: 1px solid #BDBDBD; 
    border-radius: 10px; 
    padding: 5px 10px; 
    cursor: pointer; 
    font-size: 14px; 
    font-weight: bold; 
    text-align: center; 
    text-decoration: none; 
    color: #000; 
}

.gglbtn img {
    width: 24px; 
    height: 24px; 
    margin-right: 10px; 
}



.backimg {
    position: relative;
    background-image: url('../../Images/Background1.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    width: 100%; 
    height: 100vh; 
    
}

footer {
    background-color: #252525;
    color:white;
    width: 100%;
    height: 44px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    font-family: 'inter' , 'sans-serif';
}

#terms {
    display: block;
    margin-top: 15px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: left;
}



/* Untuk tampilan desktop */
@media screen and (min-width: 1024px) {
    body {
        min-width: 1024px;
        /* Gaya lain untuk desktop */
    }
}

/* Untuk tampilan mobile */
@media screen and (max-width: 767px) {
    body {
        min-width: 320px;
        /* Gaya lain untuk mobile */
    }
}
